.container {
  background-image: url("/container-bg.png");
  background-size: 25%;
  background-repeat: repeat;
  background-position: 0% 0%;
  background-blend-mode: soft-light;
  background-color: var(--black-700);
}

.elipseContainer {
  background-image: url("/images/background-elipse.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-blend-mode: lighten;
  background-color: transparent;
  height: 569px;
  width: 569px;
}
