@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --brown-500: #b4a08e;
    --brown-400: #b5a99a;
    --black-700: #1e1e1e;
    --black-500: #262627;
    --black-300: #7b7a78;
    --white-500: #f8f6f4;
    --white-100: #ffffff;
    --teal-700: #456f7e;
    --teal-500: #859fa8;
    --green-500: #c4d99e;
    --gray-200: #d9d9d9;
    --error: #ff3b30;
    --warning: #fce240;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: #484848;
    --input-background: #262627b2;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.blended-background {
  background-image: url("/images/container-bg.png");
  background-size: 25%;
  background-repeat: repeat;
  background-position: 0% 0%;
  background-blend-mode: soft-light;
  background-color: var(--black-700);
}

.terminal-effect .word {
  white-space: nowrap;
}

.terminal-effect .char {
  position: relative;
}

.terminal-effect {
  font-kerning: none;
  position: relative;
  /* white-space: nowrap; */
}

.terminal-effect--cursor-square .char {
  --opa: 0;
}

.terminal-effect--cursor-square .char::after {
  content: "";
  width: 1ch;
  top: 0;
  left: 0;
  position: absolute;
  opacity: var(--opa);
}

.terminal-effect--cursor-square .char::after {
  background: currentColor;
  height: 100%;
}

.rhomboid {
  clip-path: polygon(0% 53px, 100% 53px, 68% 399px, 0% 399px);
}

.embla {
  max-width: 1280px;
  margin: auto;
  --slide-height: 608px;
  --slide-spacing: 0px;
  --slide-size: 95%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  mix-blend-mode: screen;
  transform-origin: top center;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Uniform Carousel Styles */
.slide img {
  display: block;
  height: 500px;
  border: 1px solid #b5a99a;
  border-radius: 20px;
  transition:
    transform 0.3s ease-in-out,
    filter 0.3s ease-in-out;
}

.slide img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(218, 165, 32, 0.7); /* Light gold glow */
}

.slide {
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 250px;
  width: 700px;
}

/* Make sure slides are positioned properly */
.mySwiper {
  width: 100%;
  height: 2000px;
}

/* Scale effect while preventing cut-off */
.slide.big {
  transform: scale(1.5) !important;
  z-index: 10;
  margin-right: 100px !important;
  margin-left: 100px !important;
}

.vertical-writing {
  writing-mode: sideways-lr;
}

.uniform-carousel-clip-path {
  clip-path: path(
    "M89.9698 13.8953C98.9579 4.99365 111.096 0 123.747 0H523C545.091 0 563 17.9086 563 40V112.445C563 126.155 568.863 139.212 579.111 148.32L627.104 190.981C635.89 198.791 647.237 203.105 658.993 203.105H1240C1262.09 203.105 1280 221.014 1280 243.105V726.548C1280 738.725 1275.37 750.447 1267.05 759.34L1221.73 807.792C1212.65 817.494 1199.96 823 1186.67 823L563 823L522 823L40 823C17.9086 823 0 805.091 0 783V123.018C0 110.207 5.121 97.9282 14.2232 88.9135L89.9698 13.8953Z"
  );
}
